from target import Target

class Config:
  tests_dir = "integration/javascript/iphone"
  build_dir = "build"
  test_report_file = "test-report.xml"
  test_results_dir = "test_results"
  targets = [Target(name="foo", scheme="Foo Scheme", bundle_id="com.example.MyApp-Foo"), 
             Target(name="bar", scheme="Bar Scheme", bundle_id="com.example.MyApp-Bar")]

  # These all correspond to the commandline arguments to strawberry_py
  clean = False
  target = None
  sdk = "iphonesimulator8.1"
  run = False
  build = True
  test = True
  focus = None
  exclude = None
  verbose = False
  debug = False
