# vim: set syntax=python

from target import Target

class Config:
  tests_dir = "integration/javascript/iphone"
  build_dir = "build"


  # Supported test report formats
  # test_report_format = None # No test report
  test_report_format = "junit"
  # test_report_format = "text"

  # The test_report_file is ignored if test_report_format == None
  test_report_file = "test-report.xml"

  # Uncomment if you don't want to save the results from instruments
  # test_results_dir = None
  test_results_dir = "test_results"

  # Uncomment if you don't want to save the trace from instruments
  # instruments_trace_dir = None
  instruments_trace_dir = "instruments"

  targets = [Target(name="foo", scheme="Foo Scheme", bundle_id="com.example.MyApp-Foo"),
             Target(name="bar", scheme="Bar Scheme", bundle_id="com.example.MyApp-Bar")]

  device = None

  # These all correspond to the commandline arguments to strawberry_py
  clean = False
  target = None
  sdk = "iphonesimulator8.1"
  run = False
  build = True
  test = True
  focus = None
  exclude = None
  retry_count = 1
  reinstall = False
  verbose = False
  debug = False
